name: Test Suite
# on: push
on: [repository_dispatch, workflow_dispatch]
jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
        python-version:
          - '3.13'
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          apt install -y adduser base-files bash bash-completion binutils-common:amd64 command-not-found coreutils cron-daemon-common debconf dhcpcd-base e2fsprogs fuse3 grep hdparm keyutils libacl1:amd64 libattr1:amd64 libaudit-common libc-bin libc6:amd64 libmagic1t64:amd64 libmecab2:amd64 libncursesw6:amd64 libpam-runtime libpcre2-8-0:amd64 libpython3.13-stdlib:amd64 libselinux1:amd64 libsensors-config libtirpc-common locales login logrotate lsb-release ltrace man-db media-types multipath-tools nano ncurses-base netbase nftables openssl overlayroot procps python3.13 python3.13-venv rsyslog screen sed sudo tar tzdata ucf usb-modeswitch util-linux walinuxagent wget
          pip install setuptools==80.10.2
      - run: |
          scripts/install
      - run: |
          scripts/check
          scripts/build
      - run: |
          scripts/test
      - run: |
          scripts/coverage
    env:
      ACCEPT_EULA: Y
      BOOTSTRAP_HASKELL_NONINTERACTIVE: '1'
      COVERAGE_RUN: 'true'
      DEBIAN_FRONTEND: noninteractive
      DOTNET_MULTILEVEL_LOOKUP: '0'
      DOTNET_NOLOGO: '1'
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: '1'
      HOMEBREW_CLEANUP_PERIODIC_FULL_DAYS: '3650'
      HOMEBREW_NO_AUTO_UPDATE: '1'
      HOSTNAME: pop-os
      ImageOS: ubuntu24
      ImageVersion: 20260111.209.1
      LC_CTYPE: C.UTF-8
      NO_PROXY: '*'
      POWERSHELL_DISTRIBUTION_CHANNEL: GitHub-Actions-ubuntu24
      PYTEST_VERSION: 8.4.1
      PYTHONNOUSERSITE: '1'
      SHLVL: '1'
      SSLKEYLOGFILE: test
      TERM: xterm
      _PIP_RUNNING_IN_SUBPROCESS: '1'
      _PYI_LINUX_PROCESS_NAME: sawra
      _PYI_PARENT_PROCESS_LEVEL: '1'
      _PYPROJECT_HOOKS_BUILD_BACKEND: hatchling.build
