name: CI

# on: [push, pull_request]
on: [repository_dispatch, workflow_dispatch]

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
        python-version:
          - ${{ matrix.python-version }}
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - run: |
          scripts/install
      - run: |
          scripts/check
          scripts/build
      - run: |
          scripts/test
      - run: |
          scripts/coverage
    env:
      COVERAGE_RUN: 'true'