name: CI

# on: [push, pull_request]
on: [repository_dispatch, workflow_dispatch]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install chardet==5.2.0 mkdocs==1.6.1 mkautodoc==0.2.0 mkdocs-material==9.6.18 build==1.3.0 twine==6.1.0 coverage[toml]==7.10.6 cryptography==45.0.7 mypy==1.17.1 pytest==8.4.1 ruff==0.12.11 trio==0.31.0 trio-typing==0.10.0 trustme==1.2.1 uvicorn==0.35.0 brotli; platform_python_implementation == 'CPython' brotlicffi; platform_python_implementation != 'CPython' click==8.* pygments==2.* rich>=10,<15 h2>=3,<5 socksio==1.* zstandard>=0.18.0

      - name: Run install script
        run: scripts/install

      - name: Run check script
        run: scripts/check

      - name: Run build script
        run: scripts/build

      - name: Run test script
        run: scripts/test

      - name: Run coverage script
        run: scripts/coverage